TEMPORARY REVISION
CREATED_BY=lnarayan
1:checklist question with  elaborate response:To Be Done:INCORRECT:To Be Done
2:checklist question expecting a list of values from known options:response1 response2 response3 :INCORRECT:To Be Done
UPLOADED_FILE:3:checklist question expecting a file to be uploaded:3NO_FILE_ATTACHED:/prj1/blk2/checklist17/rev3/.lnarayan/3NO_FILE_ATTACHED
3:checklist question expecting a file to be uploaded:3NO_FILE_ATTACHED:CORRECT:To Be Done
4:checklist question expecting a yes or no.:yes:INCORRECT:To Be Done
5:checklist question expecting one option from a list of mutulally exclusive options:option1:INCORRECT:To Be Done
OVERALL_STATUS=20.00%
PARTIAL_STATUS=20.00%
