CREATED_BY=sanandak
COMMENT:External IP and Process Collateral
1:TSMC Std-Vt Std cell library (tcbn65lp):200a 200b :CORRECT:To Be Done
2:TSMC High-Vt Std cell library (tcbn65lphvt):To Be Done:INCORRECT:To Be Done
3:TSMC e –fuse library (tef65lp):To Be Done:INCORRECT:To Be Done
4:TSMC e –fuse ESD library (tef65lpesd):To Be Done:INCORRECT:To Be Done
5:TSMC DDR2 IO library (tpdn65lpgv2_memio_ddr2):To Be Done:INCORRECT:To Be Done
6:Virage High-Vt ASAP-Logic High-Speed Tapless Std Cell Library(ts65npkhssta03):To Be Done:INCORRECT:To Be Done
7:Virage Std-Vt ASAP-Logic High-Speed Tapless Std Cell Library(ts65npksssta03):To Be Done:INCORRECT:To Be Done
8:TSMC Contact programmable ROM compiler (tsn65lpsrom):To Be Done:INCORRECT:To Be Done
9:Virage ASAP Single Port High Speed Leakage Control Register File 32K Sync  (ts65npkb1p11assrl32ksa02 ):To Be Done:INCORRECT:To Be Done
10:Virage SiWare Single Port High Density Leakage Control SRAM 512K Sync  (ts65npkb1p11sadsl512sa07p1):To Be Done:INCORRECT:To Be Done
11:Virage SiWare Two Port High Density Leakage Control Register File 32K Sync  (ts65npkb2p11asdrl32ksa02p2):To Be Done:INCORRECT:To Be Done
12:TSMC Spice model _\@_  DOC. NO._\@_  T-N65-CL-SP-009-P1 version:1.3p3:CORRECT:To Be Done
13:TSMC SRAM spice model DOC No. T-N65-CL-CL-001  version:To Be Done:INCORRECT:To Be Done
14:TSMC StarXt model  from CADLIB  version:To Be Done:INCORRECT:To Be Done
15:TSMC StarXt model  from CADLIB  version, released date:To Be Done:INCORRECT:To Be Done
16:TSMC Fire and Ice model (Voltagestorm)DOC No. T-N65-CL-SP-036-V2   version:To Be Done:INCORRECT:To Be Done
17:TSMC Hercules runsets from CADLIB version:To Be Done:INCORRECT:To Be Done
18:TSMC Hercules runsets from CADLIB version release date:To Be Done:INCORRECT:To Be Done
COMMENT:CAD Tools/Versions
19:cscope:To Be Done:INCORRECT:To Be Done
20:de_env:To Be Done:INCORRECT:To Be Done
21:formality:To Be Done:INCORRECT:To Be Done
22:hercules:To Be Done:INCORRECT:To Be Done
23:hsim:To Be Done:INCORRECT:To Be Done
24:hspice:To Be Done:INCORRECT:To Be Done
25:iccompiler:iccompiler/2010.03-SP5 :CORRECT:To Be Done
26:incisive:incisive/9.20-s23 :CORRECT:To Be Done
27:jtv:To Be Done:INCORRECT:To Be Done
28:magellan:To Be Done:INCORRECT:To Be Done
29:mmav:mmav/3.3.008c_20110406 :INCORRECT:To Be Done
30:nanosim:To Be Done:INCORRECT:To Be Done
31:primetime:primetime/2010.12-SP2 :INCORRECT:To Be Done
32:rs_bf:To Be Done:INCORRECT:To Be Done
33:starxt:To Be Done:INCORRECT:To Be Done
34:syn:To Be Done:INCORRECT:To Be Done
35:tetramax:tetramax/2010.12-SP2-CS1 :PART_CORRECT:To Be Done
36:vcs:vcs/2010.06 :PART_CORRECT:To Be Done
37:vstorm:To Be Done:INCORRECT:To Be Done
UPLOADED_FILE:38:DC Log File:38NO_FILE_ATTACHED:/prj1/blk1/checklist3/rev4/38NO_FILE_ATTACHED
38:DC Log File:38NO_FILE_ATTACHED:INCORRECT:To Be Done
39:Warnings:To Be Done:INCORRECT:To Be Done
40:DbLoaded:To Be Done:INCORRECT:To Be Done
OVERALL_STATUS=10.00%
PARTIAL_STATUS=15.00%
