checklist14 : 0% : 0%
checklist2 : 0% : 0%
checklist10 : 0% : 0%
checklist12 : 0% : 0%
checklist5 : 0% : 0%
checklist8 : 0% : 0%
checklist6 : 0% : 0%
checklist16 : 0% : 0%
checklist15 : 0% : 0%
checklist13 : 0% : 0%
checklist1 : 0.88% : 0.88%
checklist4 : 0% : 0%
checklist11 : 0% : 0%
checklist3 : 10.00% : 15.00%
checklist9 : 0% : 0%
checklist7 : 0% : 0%
OVERALL_STATUS=0.68%
PARTIAL_STATUS=0.99%
