CREATED_BY=lnarayan
1:Is Synopsys RM flow used?:Yes:INCORRECT:To Be Done
COMMENT:Floor planning_\@_
2:Did You check that Power N/W exists in the regions in which placement blockage is not present ?_\&_:Yes:INCORRECT:To Be Done
3:Any Blockages Used?:Yes:INCORRECT:To Be Done
4:Hard block blockages created on top of hard macros / ilms with at least 5u extension?:Yes:INCORRECT:To Be Done
5:Routing blockages created on top of macros/ilms are reviewed ?:Yes:INCORRECT:To Be Done
6:Corners Protected with Hard Placement Blockages ?:Yes:INCORRECT:To Be Done
7:Corners Protected with Route Guides ?:Yes:INCORRECT:To Be Done
8:Any physical bounds created for meeting timing ?:Yes:INCORRECT:To Be Done
9:Is Power Network is reviewed including Macro preroutes using verfy_pg command?:Yes:INCORRECT:To Be Done
10:Pin Buffers are added for macro IO's are Added ?:Yes:INCORRECT:To Be Done
11:Macro placement is reviewed and fixed ?:Yes:INCORRECT:To Be Done
12:Kelvin routes Present in the Floor planning Stage ?:Yes:INCORRECT:To Be Done
13:3V nets prerouted ?:Yes:INCORRECT:To Be Done
14:Is RDL used for PWR Network ?:Yes:INCORRECT:To Be Done
15:Is IR drop analysis done in Vstrom on the Floor plan database ?:Yes:INCORRECT:To Be Done
16:Did you checked with IP vendor for any decoupling cap requirement on kelvin routes and added Corresponding Placement Blockages ?:Yes:INCORRECT:To Be Done
17:ADI 17 rule ran on padring ?:Yes:INCORRECT:To Be Done
18:Floor plan is DRC and VDD/VSS shorts clean ?:Yes:INCORRECT:To Be Done
19:Did you check for any unintentional routes exists on top of macros after PWR N/W pre-routes ?:Yes:INCORRECT:To Be Done
20:Explicit Placement blockages are created in the pad regions ?:Yes:INCORRECT:To Be Done
21:Explicit Routing blockages are created in the pad regions ?:Yes:INCORRECT:To Be Done
22:Is Complete bond pad metal is used for top level power hookup ?:Yes:INCORRECT:To Be Done
COMMENT:Placement_\@_
23:Is Relative Placement is used for Synchronizers ?:Yes:INCORRECT:To Be Done
24:Any scenarios ( modes & corners) used for 1'st level placement ?:Yes:INCORRECT:To Be Done
25:Any group paths used for Placement?:Yes:INCORRECT:To Be Done
26:Delay balancing constraints used for placement ?:Yes:INCORRECT:To Be Done
27:Is 1st level Placement is 2 step ? ( create placement then place_opt):Yes:INCORRECT:To Be Done
28:Is Scan reordering is used ?:Yes:INCORRECT:To Be Done
29:max_transition & max_cap limits used for initial placement ?:Yes:INCORRECT:To Be Done
30:max_cap and max_trans in the custom .libs are checked and validated ?:Yes:INCORRECT:To Be Done
31:Any New Modes and scenarios for incremental placement?:Yes:INCORRECT:To Be Done
32:Any Modules in which svt is allowed ?:Yes:INCORRECT:To Be Done
33:Are power optimizations/Area Recovery are done after placement ?:Yes:INCORRECT:To Be Done
34:Any Checks Done For Load less Drivers/Driver less loads/Dangling nets ?:Yes:INCORRECT:To Be Done
35:Is Visual inspection done after placement to check for any unintentional placements ?:Yes:INCORRECT:To Be Done
COMMENT:CTS_\@_
36:Is CTS corner covers worst case for SVT cells in terms of insertion delay ?:Yes:INCORRECT:To Be Done
37:Is CTS Multi Pass ?:Yes:INCORRECT:To Be Done
38:CTS median insertion delay numbers matched for axiclk/ddrclk/sclka/sclkb ?:Yes:INCORRECT:To Be Done
39:Global skew numbers for each clock:To Be Done:INCORRECT:To Be Done
40:Confirm High Frequency Clocks used 2w3s and at least 2 vias ?:Yes:INCORRECT:To Be Done
41:Is lib cells spacing set for less porosity cells like CKND1/ND2 for avoiding congestion beacuse of CTS ?:Yes:INCORRECT:To Be Done
42:list of CTS cells used:To Be Done:INCORRECT:To Be Done
43:All the clocks are propagated after CTS ?:Yes:INCORRECT:To Be Done
44:Is CTS target transition set ?:Yes:INCORRECT:To Be Done
45:Is CTS target Cap Set ?:Yes:INCORRECT:To Be Done
46:Is Clock derating used for setup ?:Yes:INCORRECT:To Be Done
47:Confirm 3v nets are frozen ?:Yes:INCORRECT:To Be Done
48:Confirm 3v nets are not ideal and desifned as set_dont_touch for transition checks ?:Yes:INCORRECT:To Be Done
49:Confirm Spare cells are inserted prior to post CTS optimizations ?:Yes:INCORRECT:To Be Done
50:Is Clock derating Used for hold ?:Yes:INCORRECT:To Be Done
51:XTAL to PLL clckin is different segment of CTS ?:Yes:INCORRECT:To Be Done
52:Any HVT cells in clock tree ?:Yes:INCORRECT:To Be Done
53:Any cell exists in clock tree other than ICG/_drv/CTS inserted buffer?:Yes:INCORRECT:To Be Done
54:Confirm No Ideal Nets other than Clock Nets/3v nets at placement level ?:Yes:INCORRECT:To Be Done
COMMENT:Post CTS optimizations_\@_
55:Any Checks Done for Gross hold violations before hold fixes ?:Yes:INCORRECT:To Be Done
56:Any New scenarios used for post CTS optimizations ?:Yes:INCORRECT:To Be Done
57:Any Source Clock Latencies used ?:Yes:INCORRECT:To Be Done
58:Confirm No Ideal nets other than 3v nets?:Yes:INCORRECT:To Be Done
59:Delay Balancing Numbers from ICC_\@_:To Be Done:INCORRECT:To Be Done
60:All warnings/Errors reviewed ?:Yes:INCORRECT:To Be Done
61:Spare Cells list covers Scanable Flop with async clear ?:Yes:INCORRECT:To Be Done
62:Checks Done to verify synchronisers are SVT and placed close by ?:Yes:INCORRECT:To Be Done
OVERALL_STATUS=0.00%
PARTIAL_STATUS=0.00%
